.custom-gradient {
  background-image: linear-gradient(
    180deg,
    var(--m4u-clr-primary-light) 30%,
    var(--m4u-clr-secondary-light) 50%,
    var(--m4u-clr-white) 0%
  );
}
.custom-gradient-2 {
  background-image: linear-gradient(
    180deg,
    var(--m4u-clr-primary-light) 30%,
    var(--m4u-clr-secondary-light) 70%,
    var(--m4u-clr-white) 0%
  );
}

// University Statistics
.university_statistics {
  .tab-pane {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  .studstaff-subsection-parent {
    background-color: #f8f9fd;
    border-radius: 5px;
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px 20px;
    @media (max-width: 768px) {
      grid-template-columns: repeat(2, 1fr);
      gap: 20px;
    }
    @media (max-width: 600px) {
      grid-template-columns: 1fr;
      gap: 20px;
    }
  }

  .studstaff-subsection-parent > * {
    br {
      display: none;
    }
  }
  .studstaff-subsection {
    border-right: 1px solid #dadada;
  }
  .studstaff-subsection:last-child,
  .studstaff-subsection:nth-child(3n + 3) {
    border-right: 1px solid transparent;
  }

  @media (max-width: 768px) {
    .studstaff-subsection:nth-child(odd) {
      border-right: 1px solid #dadada;
    }
    .studstaff-subsection:nth-child(even) {
      border-right: 1px solid transparent;
    }
  }
  @media (max-width: 600px) {
    .studstaff-subsection:nth-child(odd) {
      border-right: 1px solid transparent;
    }
    .studstaff-subsection:nth-child(even) {
      border-right: 1px solid transparent;
    }
  }

  .studstaff-subsection-title {
    font-weight: 500;
  }
  .color-code-cont {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
  }
  .color-code-parent {
    color: var(--m4u-clr-primary);
    font-weight: 600;
    label {
      color: var(--m4u-clr-text-body);
      font-weight: 400;
    }
  }
  .color-code-parent:not(:last-child) {
    border-right: 1px solid #dadada;
  }
  .studstaff-subsection-stat {
    display: none;
  }
  .studstaff-subsection-count {
    margin-bottom: 5px;
    width: max-content;
    font-size: 22px;
    font-weight: bold;
    background: linear-gradient(
      to right,
      var(--m4u-clr-primary) 0%,
      var(--m4u-clr-secondary) 100%
    );
    -webkit-text-fill-color: transparent;
  }

  // v2
  .pane-content {
    ul {
      background-color: #f8f9fd;
      border-radius: 5px;
      padding: 20px;
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      gap: 30px 20px;
      @media (max-width: 768px) {
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;
      }
      @media (max-width: 600px) {
        grid-template-columns: 1fr;
        gap: 5px;
      }
      li:not(:last-child) {
        border-right: 1px solid #dadada;
      }

      @media (max-width: 768px) {
        li:nth-child(even) {
          border-right: 1px solid transparent !important;
        }
      }
      @media (max-width: 600px) {
        .studstaff-subsection:nth-child(odd) {
          border-right: 1px solid transparent;
        }
        li {
          border-right: 1px solid transparent !important;
        }
      }
      .value {
        margin-bottom: 5px;
        width: max-content;
        font-size: 22px;
        font-weight: bold;
        background: linear-gradient(
          to right,
          var(--m4u-clr-primary) 0%,
          var(--m4u-clr-secondary) 100%
        );
        -webkit-text-fill-color: transparent;
      }
      .padding {
        display: flex;
        flex-direction: column;
        height: 100%;
      }
      .reference {
        margin-top: auto;
        margin-left: auto;
        margin-right: 10px;
      }
    }
    .disclaimer {
      font-size: 13px;
      display: flex;
      justify-content: flex-end;
      margin-top: 2px;
    }
  }
}

// tooltip
.tooltip_parent {
  position: relative;
  &:hover .tooltip {
    visibility: visible;
    opacity: 1;
  }
}
.tooltip {
  top: calc(100% + 5px);
  left: 50%;
  transform: translateX(-50%);
  padding: 6px 10px;
  width: max-content;
  font-size: 12px;
  line-height: 18px;
  text-align: center;
  color: #3f4254;
  position: absolute;
  background-color: #e5eaee;
  border-radius: 4px;
  transition: all 0.3s;
  visibility: hidden;
  opacity: 0;
  z-index: 1000;
  &:before {
    content: "";
    position: absolute;
    top: -10px;
    left: 50%;
    transform: translateX(-50%);
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 15px solid #e5eaee;
  }
  &.top {
    top: unset;
    bottom: calc(100% + 10px);
    &:before {
      top: unset;
      bottom: -10px;
      border-left: 10px solid transparent;
      border-right: 10px solid transparent;
      border-bottom: unset;
      border-top: 15px solid #e5eaee;
    }
  }
}

.text-danger {
  color: red;
}

.image_border::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
  margin: -1px;
  border-radius: 50%;
  background: linear-gradient(
    to right,
    var(--m4u-clr-primary),
    var(--m4u-clr-secondary)
  );
}

.scroll {
  &::-webkit-scrollbar {
    width: 4px;
    overflow: visible;
    background: #feefe7;
    border-radius: 10px;
  }
  &::-webkit-scrollbar-thumb {
    background: transparent;
  }
  &:hover::-webkit-scrollbar-thumb {
    background: #cacaca;
  }
}

.from_texteditor_wrapper section {
  padding-bottom: 0;
}

.zodit_editor {
  ol,
  ul {
    list-style: disc;
    padding-left: 20px;
  }
  .zodit-react-container {
    .zodit-container:not(.zodit_inline) {
      border: none !important;
    }
    .zodit-wysiwyg {
      background: #f9f9f9;
    }
    .zodit-icon {
      stroke: #808291 !important;
      fill: #808291 !important;
    }
  }
}

.about_us_list li {
  list-style: disc !important;
  padding-left: 12px;
  margin-left: 20px;
}

.text-editor-custom {
  ul > li {
    list-style-image: url("/images/misc/right-arrow.svg");
    margin-left: 20px !important;
    padding-left: 10px !important;
  }
  ::marker {
    font-size: 24px;
    line-height: 20px;
  }
}

:where(.css-dev-only-do-not-override-zl9ks2).ant-tree
  .ant-tree-node-content-wrapper {
  line-height: 32px !important;
}

//quill editor height

.ql-editor {
  min-height: 200px;
}

.flag {
  font-family: "Segoe UI Emoji", "Noto Color Emoji", "Apple Color Emoji",
    "Android Emoji", "EmojiSymbols";
}

//react phone input for showing as value only
.input_as_value {
  .react-tel-input {
    .form-control {
      padding-left: 30px !important;
      font-size: 17px !important;
    }
    .flag-dropdown {
      background-color: transparent !important;
      border: none !important;
    }
    .selected-flag .arrow {
      display: none !important;
    }
    pointer-events: none !important;
    font-family: "IBM Plex Sans", sans-serif !important;
  }
}

ol {
  list-style-type: lower-alpha;
}

.terms_and_condition ::marker {
  font-weight: 600;
}

.advisor_rank .ant-collapse-content {
  border-radius: 0% !important;
}

// industry card Img

.industry_card_grid {
  .industry_link {
    margin: 0;
  }
  .industry_card_content {
    position: absolute;
    left: 0;
    bottom: 0;
    padding: 20px 20px;
    @media (min-width: 1024px) {
      padding: 35px !important;
    }
  }
}

.industry_link {
  margin: 10px 0;
  display: block;
}
.industry_card {
  position: relative;
  z-index: 10;
  backface-visibility: hidden;
  perspective: 1200px;
  will-change: transform;
  &:hover {
    z-index: 11;
    .industry_card_img,
    .overlay,
    .industry_card_content {
      transform: scale3d(1.09, 1.09, 1);
    }
  }

  .industry_card_img {
    overflow: hidden;
    transform: scale3d(1, 1, 1);
    transition: transform 0.65s cubic-bezier(0.23, 1, 0.32, 1);
    width: 100%;
    height: 100%;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  .overlay {
    position: absolute;
    width: calc(100% + 1px);
    height: calc(100% + 1px);
    left: 0;
    top: 0;
    z-index: 1;
    background: linear-gradient(180deg, rgba(17, 55, 89, 0) 0%, #113759 100%);
    overflow: hidden;
    transform: scale3d(1, 1, 1);
    transition: transform 0.65s cubic-bezier(0.23, 1, 0.32, 1);
  }

  .industry_card_content {
    position: absolute;
    left: 0;
    bottom: 0;
    padding: 35px;
    @media (min-width: 1024px) {
      padding: 30px;
    }
    z-index: 2;
    overflow: hidden;
    transform: scale3d(1, 1, 1);
    transition: transform 0.65s cubic-bezier(0.23, 1, 0.32, 1);
  }
  .industry_card_icon {
    margin-bottom: 5px;
    svg {
      width: 40px;
      height: 40px;
      path {
        fill: #fff;
      }
    }
  }
  .industry_card_text {
    font-weight: 700;
    font-size: 24px;
    line-height: 31px;
    color: #ffffff;
    max-width: 180px;
  }
}

@media (max-width: 600px) {
  .industry_card_grid {
    .industry_card_content {
      padding: 15px !important;
    }
  }
}
@media (max-width: 500px) {
  .industry_card_grid {
    grid-template-columns: 1fr !important;
    gap: 24px !important;
  }
}

.form_group {
  position: relative;
  label {
    position: absolute;
    font-weight: 600;
    font-size: 12px;
    line-height: 1.5;
    color: #3f4254;
    display: flex;
    gap: 2px;
    align-items: center;
    justify-content: center;
    padding: 0 10px;
    background-color: #fff;
    left: 20px;
    top: -16px;
    z-index: 1;
  }
  .astrisk {
    color: #e50f0f;
  }
  input {
    width: 100%;
    background-color: #fff;
    border-radius: 8px;
    padding: 15px;
    border: 1px solid #eee;
    font-weight: 500;
    font-size: 14px;
    &.error {
      border: 1px solid #e50f0f;
      color: inherit;
    }
    &::placeholder {
      font-size: 14px;
      line-height: 20px;
      color: #808291;
      font-weight: normal;
      opacity: 0.6;
    }
  }
}
input::-webkit-input-placeholder {
  opacity: 0.6;
}

.password_view {
  position: absolute;
  top: calc(50% - 10px);
  right: 20px;
  cursor: pointer;
}

.information-container {
  h2 {
    line-height: 1;
  }
}

.swagger-ui .info .title small {
  vertical-align: baseline !important;
}
